<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.lawyer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.ShowAttachmentActivity"></activity>
        <activity android:name=".activity.ui.HomeLawyerActivity" />
        <activity android:name=".activity.HearingSessionCreateFormActivity" />
        <activity android:name=".activity.AtornyCreateHearingSessionActivity" />
        <activity android:name=".activity.ClientCaseSubjectDetailActivity" />
        <activity android:name=".activity.ClientCaseHearingDateActivity" />
        <activity android:name=".activity.ClientCaseDetailActivity" />
        <activity android:name=".activity.ClientCasesListActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.OTPActivity" />
        <activity
            android:name=".activity.AtornyCaseProgressActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing" />
        <activity android:name=".activity.HearingStaffDetailActivity" />
        <activity android:name=".activity.HearingStaffActivity" />
        <activity android:name=".activity.CaseDetailActivity" />
        <activity android:name=".activity.MyRollActivity" />
        <activity android:name=".activity.LawyerLandingActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustNothing" />
        <activity
            android:name=".activity.ProfileUpdateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>